image: gitlab.dsi.universite-paris-saclay.fr:5005/l1infoinitiationsciencedonnees/computerlab/image:latest

variables:
  ASSIGNMENT: Semaine4
  STUDENT: $CI_PROJECT_ROOT_NAMESPACE

autograde:
  script:
    - STUDENT=`echo $STUDENT | sed -e 's/_travo//;s/_/./; s/L1InfoInitiationScienceDonnees/no.name/'`
    - mkdir -p autograded/$STUDENT/Semaine3
    - curl "https://gitlab.dsi.universite-paris-saclay.fr/L1InfoInitiationScienceDonnees/2023-2024/Semaine3/-/raw/main/attributs.csv?ref_type=heads&inline=false" -o autograded/$STUDENT/Semaine3/attributs.csv
    - python -c "from travo.jupyter_course import JupyterCourse; JupyterCourse('','','','').student_autograde('$ASSIGNMENT', '$STUDENT')"
  artifacts:
    paths:
      - autograded
      - feedback
    # reports:
    #   junit: feedback/scores.xml
